:root {
  --white: #FFFFFF;
  --black: #0E100E;
  --green: #E2FDE6;
  --bg-focus: #82887C;
  --border: #CEE6D1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Clash Display', sans-serif;
  scroll-behavior: smooth;
  transition: 0.5s ease;
}

body {
  background-color: var(--green);
}

svg {
  width: 100px;
  height: 100px;
}

#home,
#skill,
#project,
#blog,
#contact {
  height: 100vh;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 10; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 160px;
}

.list li, .skills li {
  list-style: none;
}

.list a, .skills a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

.list {
  padding: 50px;
  text-align: center;
  border-width: 0 1px 1px 1px;
  border-style: none solid solid solid;
  border-color: var(--border);
}

.list a:hover {
  font-weight: 900;
  cursor: pointer;
}

.list a:nth-child(1) {
  grid-column: 1 / 2;
}

.list img {
  position: absolute;
  left: 2em;
  bottom: 0.0625em;
  width: 10em;
  height: 10em;
  object-fit: fill;
}

/* Home */
#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile,
.description {
  width: 50%;
}

.retrospective {
  padding: 5em;
}

.retrospective p:nth-child(1),
.landing-cta p:nth-child(1),
.landing-cta p:nth-child(2) {
  font-size: 2em;
}

.retrospective p:nth-child(2),
.retrospective p:nth-child(3) {
  font-size: 5em;
}

/* About Me */
#about {
  display: flex;
  align-items: center;
  padding: 1em;
}

.profile img {
  margin: 10em 0 0 5em;
  width: 80%;           
  object-fit: cover; 
  filter: grayscale(50%);
}

.description {
  padding: 3em;
  margin-top: 10em;
}

.description p:nth-child(1) {
  font-size: 4em;
}

.description p:nth-child(2) {
  font-size: 1em;
  word-break: keep-all;
  text-align: justify;
  line-height: 1.5;
  padding: 1em;
  border: 3px solid var(--border);
  width: 90%;
}

/* Resume */
#skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills > p, .skills a, #project > p, #blog > p {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 0.5em;
  display: flex;
  justify-content: center;
}

.skills a {
  background-color: var(--black);
  color: var(--green);
  border-radius: 5px;
  width: 100%;
  padding: 0.2em;
}

.skills ul {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  padding: 5em;
}

/* Project */
#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

#project a, #blog a {
  text-decoration: none;
}

.project1,
.project2,
.blog1 {
  max-width: 500px;
  margin: 0 2em;
  border-radius: 10px;
  background-color: var(--black);
}

.project1 > img,
.project2 > img,
.blog1 > img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.project1 > p,
.project2 > p,
.blog1 > p {
  text-align: justify;
  padding: 1em;
  color: var(--white);
}

/* Blog */
#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 10em;
}

/* Contact */
#contact, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0.5em;
  background-color: var(--bg-focus);
}

#contact > p {
  font-size: 9em;
  text-align: center;
}
.social svg {
  width: 80px;
  height: 80px;
  margin: 0.5em;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  /* Hamburger */
  #hamitems {
    display: block;
  }

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #hamnav label {
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    font-size: 1.2em;
    font-style: normal;
    padding: 10px;
    width: 100%;
  }

  #hamitems, #hamburger {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .list img {
    visibility: hidden;
  }
}

@media only screen and (min-width: 600px) {
  /* Hamburger */
  #hamitems {
    display: block;
  }

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #hamnav label {
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    font-size: 1.2rem;
    font-style: normal;
    padding: 10px;
    width: 100%;
  }

  #hamitems, #hamburger {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .list img {
    visibility: hidden;
  }
}


@media only screen and (min-width: 768px) {
  /* Hamburger */
  #hamitems {
    display: block;
  }

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #hamnav label {
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    font-size: 1.2em;
    font-style: normal;
    padding: 10px;
    width: 100%;
  }

  #hamitems, #hamburger {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .list img {
    visibility: hidden;
  }
}

@media only screen and (min-width: 992px) {
  /* Hamburger */
  #hamitems {
    display: block;
  }

  #hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #hamnav label {
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    font-size: 1.2em;
    font-style: normal;
    padding: 10px;
    width: 100%;
  }

  #hamitems, #hamburger {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .list img {
    visibility: hidden;
  }
}


@media only screen and (min-width: 1200px) {
  #hamnav {
    width: 100%;
  }

  #hamnav label, #hamburger {
    display: none;
  }

  #hamitems {
    display: flex;
  }

  #hamitems a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex: 1 0 0;
    color: var(--black);
  }

  .list img {
    visibility: visible;
  }
}